html{
    font-size: 90vw;
}

h1{
    font-size: 0.1rem;
}

.contenedor{
    border: solid 3px black;
    font-size: 0.3rem;
    width: 0.9rem;
    height: 0.6rem;
}



.rival{
    height: 50%;
    display: flex;
    justify-content: right;

    position: relative;
}
.jugador{
    height: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: right;

    align-content: baseline;
    position: relative;
}

.datos{
    width: 40%;
    padding: 10px;
}

.foto{
    width: 0.45rem;
    height: 0.45rem;
}

.nombre{

    font-size: 0.08rem;
}

.energia{
    border: solid 3px black;
    width: 100%;
    height: 10%;
    border-radius: 50px;
    overflow: hidden;
}

.contador{
    font-size: 0.05rem;
}

.jugador__datos{
    padding-top: 0.08rem;
    
}

.rival__foto{
    position: relative;
    right: -0.05rem;
    top: -0.08rem;
}

.jugador__foto{
    position: absolute;
    left: -0rem;
    bottom: -0rem;
    
}
.jugador__datos__energia__total{
  width: 100%; 
  height: 100%; 
  background-color: green;  
}

.rival__datos__energia__total{
    width: 100%; 
    height: 100%; 
    background-color: green;  
  }

.botones{
    position: absolute;
    bottom: -0.12rem;
    left: 0px;
}

